#submit_button{

    margin-top: 18px;
    width: 20%;
    border: none;
    outline: none;
    border-radius: 50px;
    color: white;
    transition: 0.5s;
  
}

#submit_button:hover{
  background:crimson;
} 

#choose_room{
    margin-bottom: 70px;
    color:orangered;
}

#prb{
    width: 100%;
}


.label-style{
    color:black;
    font-weight: 700;
  }
  
  .checkbox-style{
    color:crimson;
  }
  
  .modal-body {
  
    /* Making sure the footer & header of the modal stays fixed */
    max-height: calc(100vh - 210px);
    overflow-y: auto;
  }

